<!DOCTYPE html>
<head>
    <title>Home page</title>
</head>
<body>
    <%- include('./subviews/navbar')-%>
    <div class="main_content" style="margin-left: 0px">
        <div class="header ps-3 pt-3">
            <h6>ABOUT US US</h6>
        </div>
        <div class="info">
            <h5>Bank Details</h5>
            <p> Bank Name<br>
                Bank Address<br>
                Bank Branch<br>
                Bank Phone No<br>
            </p>
        </div>    
</body>