<!DOCTYPE html>
<head>
    <title>Admin-Login page</title>
</head>
<body>
    <%- include('./subviews/navbar')-%>
    <div class="card m-auto mt-5 w-25">
        <h5 class="card-header p-3" style="text-align: center">
            <i class="fas fa-user-cog">&nbsp;</i>
            Admin Login
        </h5>
        <div class="card-body">
            <form action="/adminLogin" method="POST" >
                <%- include('./subviews/messages') -%>
                <fieldset>
                    <div class="form-group pb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class ="form-control pt-1" id="email" placeholder="Enter Username"
                        name="email" value="<%= typeof name != 'undefined' ? name : '' %>"/>
                    </div>
                    <div class="form-group pb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class ="form-control pt-1" id="password" placeholder="Enter Password"
                        name="password" value="<%= typeof password != 'undefined' ? password : '' %>"/>
                    </div>
                    <button type="submit" class="btn btn-block mt-2 w-100" style="background-color: #003b4d; color:#fff">Login</button>
                    </fieldset>
            </form>
        </div>
    </div>
</body>
</html>