<!DOCTYPE html>
<head>
    <title>Home page</title>
</head>
<body>
    <%- include('./subviews/navbar')-%>
    <div class="main_content" style="margin-left: 0px">
        <div class="header ps-3 pt-3">
            <h6>CONTACT US</h6>
        </div>
        <div class="info">
            <h5>Contact Details</h5>
        </div>    
</body>