<!DOCTYPE html>
<head>
    <title>Home page</title>
</head>
<body>
    <%- include('./subviews/navbar')-%>
    <div class="main_content" style="margin-left: 0px">
        <div class="header ps-3 pt-3">
            <h6>NEWS</h6>
        </div>
        <div class="info">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>News Title 1</h5>
                    <p>News Content</p>
                </li>
                <li class="list-group-item">
                    <h5>News Title 2</h5>
                    <p>News Content</p>     
                </li>
                <li class="list-group-item">
                    <h5>News Title 3</h5>
                    <p>News Content</p>
                </li>
            <ul>
        </div>    
</body>