<!DOCTYPE html>
<head>
    <title>Navbar</title>
</head>
<body>
  <div class="navbar1">
    <nav class="navbar navbar-expand-sm navbar-light">
        <i class="fas fa-university fa-2x pb-1 px-3" style="color: #fff"></i>
        <h5 style="color: #fff; padding-top: 7px">Online Banking System</h5>
    </nav>
  </div>
  <div class="navbar2">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size:0.9rem">
            <li class="nav-item ps-3">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactUs">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutUs">About Us</a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</body>
</html>